<% provide(:title, "Help") %>
<h1>Help</h1>
<p>This is a stub static document, generated through RoR. Which is kind of great.</p>
<p>This website has been created with the help of the <a href="htpt://www.railstutorial.org/">Ruby on Rails tutorial</a></p>
