<div class="center jumbotron">
  <h1>Home of the test application</h1>
  <p>This is quite the uggly site, if you ask me...</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
